## Python Basic Programming Exercises

Q1: What is the output of following expression
    5 + 4 * 9 % (3 + 1) / 6 - 1

In [1]:
print(5+4*9%(3+1)/6-1)

4.0

Q2: Write a program to check if a Number is Odd or Even. Take number as a input from user at runtime.

In [2]:
number = int(input('enter number'));
if(number%2==0):
    print('even number')
else:
    print('odd number')

enter number5
odd number

Q3: Write a program to display the multiplication table by taking a number as input. 
    [Hint : Use print statement inside of a loop]

In [3]:
number = int(input('enter number'));
for i in range (1, 13):
    if i> 9:
        print(f"{number} * {i} = {number * i} ")
    else:
        
        print(f"{number} * {i}  = {number * i} ")

enter number5
5 * 1  = 5
5 * 2  = 10
5 * 3  = 15
5 * 4  = 20
5 * 5  = 25
5 * 6  = 30
5 * 7  = 35
5 * 8  = 40
5 * 9  = 45
5 * 10 = 50
5 * 11 = 55
5 * 12 = 60

Q4: Write a program which will find all numbers between 2000 and 3200 which are divisible by 7 
    but are not a multiple of 5.
 
Note: The numbers obtained should be printed in a comma-separated sequence on a single line.

In [10]:
ride = []
for i in range (2000, 3200):
    if (i % 7 == 0) and not(i%5 == 0):
        ride.append(str(i))
print(",".join(ride))

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

Q5: Count the elements of each datatype inside the list and display in output
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [25]:
data_list = [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

type_counts = {}

for item in data_list:
    data_type = type(item).__name__  
    if data_type in type_counts:
        type_counts[data_type] += 1
    else:
        type_counts[data_type] = 1

for data_type, count in type_counts.items():
    print(f"{data_type}: {count}")

int: 5
str: 4
float: 1
bool: 1
NoneType: 1

Q6: Add all values from the list with numeric datatypes 
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [26]:
liara = [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7] 
suma = 0
for li in liara:
    if(type(li)==int or type(li)==float):
        suma = suma + li
print(suma)

21.5

Q7: Concat all str datatypes with hyphen as a delimiter
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [27]:
liara = [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7] 
suma = ''
fara = 1
for li in liara:
    
    if(type(li)==str):
        if fara ==1:
            suma = li
            fara = fara + 1
        else:
            suma = suma +':'+ li
print(suma)

Py:10:SQL:John

Q8: Write a UDF that takes list as input and returns sum of all numbers 
    (exclude bool) and count of all str 
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7] 
    
Hint:
-----
def my_func:
    # your code
        
my_func(l1)
# output --> {'Sum': xxx, 'Count_of_Strs': xxx}

In [36]:

def calculate_sum_and_count(data_list):
    num_sum = 0 
    str_count = 0 

    for item in data_list:
        if isinstance(item, (int, float)): 
            num_sum += item
        elif isinstance(item, str): 
            str_count += 1

    return num_sum, str_count


data_list = [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]
result = calculate_sum_and_count(data_list)
print("Sum:", result[0])
print("Count_of_Strs:", result[1])

Sum: 22.5
Count_of_Strs: 4

Q9: Get only odd numbers from the following list and store the numbers in new list
    li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]

    i. Use loops to get the answer
   ii. Use list comprehensions
  iii. Use lambda function with filter

In [49]:
li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]
odd_numbers = []

for num in li:
    if num % 2 != 0:
        odd_numbers.append(num)

print(odd_numbers)

odd_numbers2 = []

odd_numbers2 = [num for num in li if num % 2 != 0]

print(odd_numbers2)


odd_numbers3 = []
li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]
odd_numbers3 = list(filter(lambda num: num % 2 != 0, li))

print(odd_numbers3)

[5, 7, 97, 77, 23, 73, 61]
[5, 7, 97, 77, 23, 73, 61]
[5, 7, 97, 77, 23, 73, 61]

Q10: Write a UDF to return the descriptives [sum, count, min, mean, max] for a list of n number of input 
    numbers.

In [54]:
def function2(*args):
    import statistics
    args = args[0]
    output = [0,0,0,0,0]
   
    output[0] = sum(args)
    output[1] = min(args)
    output[2] = max(args)
    output[3] = statistics.mean(args)
    output[4]  = len(args)
    return output


list5 = None
list5 = []
    
    
while True:
    
    
    term = input('enter the numberes and type "q" for getting the result')
    
    if(term == 'q'):
        break
    else:
        list5.append(int(term))
    
takeop = function2(list5)

print(f"sum = {takeop[0]}; count = {takeop[4]}; min = {takeop[1]}; mean = {takeop[3]}; max = {takeop[3]};")

enter the numberes and type "q" for getting the result5
enter the numberes and type "q" for getting the result5
enter the numberes and type "q" for getting the result5
enter the numberes and type "q" for getting the result1
enter the numberes and type "q" for getting the resultq
sum = 16; count = 4; min = 1; mean = 4; max = 4;

Q11: Write an udf to calculate the area of different shapes

Take shape and dimensions as arguments to udf as follows : 

1. square which has side
2. rectangle which has length and width
3. circle which has radius

The shape should be a positional argument and it's dimensions are taken as kwargs

Perform proper validation for the user inputs and then calculate area.

E.g. if shape is square, ensure kwargs has "side" and if so, then you may return the area, else display appropriate error message like "Please enter 'side' for a square"

In [60]:
import math as maran

def circle(**kwargs):

    print('area of the circle : ',maran.pi*kwargs['side']*kwargs['side'])
 
    
def square(**kwargs):
    print('area of the sqaure : ',kwargs['side']*kwargs['side'])

def rectangle(**kwargs):
    print('area of the rectangle : ',kwargs['length']*kwargs['width'])


shape = int(input('select the shape \n 1. circle \n 2. sqare \n 3. rectangle \n enter the choose option:'))
if(shape <4 and shape>0):
    if(shape==1):
        rad = int(input('enter the radius for circle: '))
        circle(side=rad)
    elif(shape==2):
        rad = int(input('enter the side for sqaure: '))
        square(side=rad)
    elif(shape==3):
        length = int(input('enter the length for rectangele: '))
        width = int(input('enter the width for rectangle: '))
        rectangle(length=length,width=width)

select the shape
 1. circle
 2. sqare
 3. rectangle
 enter the choose option:1
enter the radius for circle: 5
area of the circle :  78.53981633974483

Q12: Write a UDF to reconcile the values within two lists.
    l1 = ['January', 'February', 'March', 'May', 'June', 'September', 'December']
    l2 = ['January', 'February', 'April', 'June', 'October', 'December']

Hint:
-----
def func(l1, l2):
    your code here...
    
Output:
{'Matched': ['January', 'February', 'June', 'December'],
    'Only in l1': ['March', 'May', 'September'],
        'Only in l2': ['April', 'October']}

In [73]:
l1 = ['January', 'February', 'March', 'May', 'June', 'September', 'December']
l2 = ['January', 'February', 'April', 'June', 'October', 'December']


def laram(l1, l2):
    result = {
        'Matched': [],
        'Only in l1': [],
        'Only in l2': []
    }

    for item in l1:
        if item in l2:
            result['Matched'].append(item)
        else:
            result['Only in l1'].append(item)

    for item in l2:
        if item not in l1:
            result['Only in l2'].append(item)

    return result

l1 = ['January', 'February', 'March', 'May', 'June', 'September', 'December']
l2 = ['January', 'February', 'April', 'June', 'October', 'December']
output = laram(l1, l2)
print(output)

{'Matched': ['January', 'February', 'June', 'December'], 'Only in l1': ['March', 'May', 'September'], 'Only in l2': ['April', 'October']}

Q13: write a UDF to check if a number is prime or not.

In [80]:
def checkprimeornot(laral2):
    if laral2 <= 1:
        return False
    for i in range(2, int(laral2/2) + 1):
        if laral2 % i == 0:
            return False
    return True

lime = int(input('enter the number : '))
sim = checkprimeornot(lime)
if(sim):
    print('prime number')
elif(sim == 0):
    print('not a prime number')

enter the number : 9
not a prime number

Q14. Write a program which can compute the factorial of a given numbers. 
#   The results should be printed in a comma-separated sequence on a single line. 
# input() function can be used for getting user(console) input


#Suppose the input is supplied to the program:  8  
#Then, the output should be:  40320 
#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [84]:
def factorial_of_number(facta):
    if facta == 0:
        return 1
    else:
        return facta * factorial_of_number(facta - 1)
fara = int(input('enter the number : '))
factorial_of_number(fara)

enter the number : 5

120

Q15. With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary.

#Suppose the following input is supplied to the program: 8
#Then, the output should be: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}
#Hints: In case of input data being supplied to the question, it should be assumed to be a console input. Consider using dict()

In [85]:
dira = {}
forer = int(input('enter the number '))
for i in range(1, forer+1):
    dira[i] = i*i
print(dira)

enter the number 8
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

Q16. Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number.
#Suppose the following input is supplied to the program: 34,67,55,33,12,98
    #Then, the output should be: ['34', '67', '55', '33', '12', '98'] ('34', '67', '55', '33', '12', '98')

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input. you may use tuple() method to convert list to tuple

In [88]:
inpra = input('enter the comma-seperated nubers ')
inpra = inpra.strip()
inpra2 = inpra.split(",")
print(inpra2 ,' ',tuple(inpra2))

enter the comma-seperated nubers   34,67,55,33,12,98
['34', '67', '55', '33', '12', '98']   ('34', '67', '55', '33', '12', '98')

Q17. Write a program that accepts a comma separated sequence of words as input and 
# prints the words in a comma-separated sequence after sorting them alphabetically.

# Suppose the following input is supplied to the program: without,hello,bag,world
# Then, the output should be: bag,hello,without,world

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [102]:
unfildata = input("enter the words")
unfildata = unfildata.strip()
unfildata = unfildata.split(",")
unfildata = sorted(unfildata,key=lambda x: (x.lower(), x))
for i in unfildata:
    if(i!= None and i!=''):
        print(i,end =',')

enter the wordswithout,hello,bag,world,Then,
bag,hello,Then,without,world,

Q18. Write a program that accepts a sequence of whitespace separated words 
# as input and prints the words after removing all duplicate words and sorting them alphanumerically.
# Suppose the following input is supplied to the program: hello world and practice makes perfect and hello world again
# Then, the output should be: again and hello makes perfect practice world

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.
#We use set container to remove duplicated data automatically and then use sorted() to sort the data.

In [111]:
white_space_seperated = input("Enter a sequence of whitespace-separated words: ")

container1 = white_space_seperated.split()
container1 =  set(container1)
fara =  sorted(container1,reverse = False)
print(" ".join(fara))

Enter a sequence of whitespace-separated words: afda king king afa
afa afda king

Q19. Write a program that accepts a sentence and calculate the number of upper case 
# letters and lower case letters.
#Suppose the following input is supplied to the program: Hello world!
#Then, the output should be: UPPER CASE 1 LOWER CASE 9

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [112]:
LARVE = input("Enter sentence: ")
count = 0
countl = 0
for la in LARVE:
    if(la.isupper()):
        count = count+1
    elif(la.islower()):
        countl = countl + 1

print(' UPPER CASE: ', count,' LOWER CASE: ', countl)

Enter sentence: Hello world!
 UPPER CASE:  1  LOWER CASE:  9

Q20. Write a program that takes a string and returns reversed string. i.e. if input is "abcd123" output should be "321dcba"

In [113]:
stra = input('enter')
print(stra[::-1])

enterabcd123
321dcba